@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .rdp-root {
    --rdp-accent-color: #91e6b3;
    --rdp-accent-background-color: #f1f1f1;
    --rdp-day_button-border-radius: 8px;
    --rdp-selected-font: bold medium var(--rdp-font-family)
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: rgb(247 254 231 / var(--tw-text-opacity, 1));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Base scrollbar styles */
.scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #91e6b3;
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Detail view specific scrollbar styles */
.ReactModal__Content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.ReactModal__Content::-webkit-scrollbar-thumb {
  background-color: #a3e635; /* lime-400 */
  border-radius: 4px;
}

.ReactModal__Content::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* gray-100 */
}

/* Textarea specific scrollbar styles */
textarea::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #bef264; /* lime-300 */
  border-radius: 4px;
}

textarea::-webkit-scrollbar-track {
  background-color: #f7fee7; /* lime-50 */
}

/* Update the modal box class */

.model-box {
  @apply w-[80vw] md:w-[40%] h-[80vh] bg-white rounded-lg mx-auto mt-14 p-5 overflow-y-scroll scrollbar z-50;
}
